body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butoes{
    display: flex;
    justify-content: center;
}
.blocoErro{
    justify-content: center;
    align-items: center;
}